@charset "utf-8";
/* 공통서식 */
*{margin: 0px; padding: 0px;}
ul,ol,li{list-style: none;}
body{
  font-family: "맑은 고딕", Arial, sans-serif;
  background-image: url(../img/bg.jpg) ;
  background-attachment:fixed;
  background-size:cover;
  overflow-x: hidden;
  /* margin: 20px 0px 0px 80px; */
  
}
h2{
  margin: 0 auto;
  padding: 50px 0px;
}
section{
  height: 100vh;
  padding: 50px;
}

a{text-decoration: none;}
header{
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  z-index: 9999;

}
/* 메인로고 */
h1{
  width: 100px;
  margin:0px 15px;
}
h1 img{
  width: 100%;
}

#nav_list{
  position: fixed;
  top: 40px; left: 160px;
  z-index: 10000;
  width: 100%;
  /* background-color: #477bca; */
}

#nav_list > li{
  display: inline-block;
  width: 18%;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.mnu_link{
  display: block;
  width: 180px;height: 40px;
  line-height: 40px;
  color: #477bca;
  text-shadow: 0px 0px 2px #7996c4;
  transition: .3s;
}
.mnu_link:hover{
  background-color: #5d7be6;
  color: #fff;
}

/* 푸터영역 */
footer{
  background-color: #dbe4f9;
  width: 100%;

}
footer address{
  font-style: normal;
  text-align: center;
  position: relative;
  bottom: 0px;
  color: #14208a;
  line-height: 70px;
  font-size: 18px;
}



/* 탑버튼 서식 */
#top_btn_wrap{
  cursor: pointer;
  border-radius: 50%;
  border:solid 1px #928d8d;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 30px;bottom: 50px;
  background-color: #ffdc84;
  box-shadow: 0px 2px 3px #b6b6b6;
}
#top_btn{
  cursor: pointer;
  border: none;
  background-color: #ffdc84;
  color: #736B66;
  font-weight: bold;
  font-size: 17px;
  z-index: 800;
}
