*{margin: 0px; padding: 0px;}
ul,ol,li{
  list-style: none;
}
:root{
  color:#333;
}

/* // 탭 전체 스타일 */
.project_tab{
  margin: 50px auto 0px auto;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 1100px;
  height: 65vh;
}

/* // 탭스타일 */
.tab_item{
  width: calc(100%/4);
  height: 50px;
  border-bottom:3px solid #727171;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* // 선택된 탭스타일 */
.project_tab input:checked + .tab_item{
  background-color: #727171;
  color: #fff;
}
.tab_item:hover{
  opacity: 0.75;
  cursor: pointer;
  background-color: #727171;
  color: #fff;
}

/* // 라디오 버튼 UI삭제 */
input[name="tab_item"]{
  display: none;
}

/* // 탭 컨텐츠 스타일 */
.tab_content{
  display: none;
  padding:40px 0px;
  clear: both;
  overflow: hidden;
}

/* // 선택 된 탭 콘텐츠를 표시 */
#disney:checked ~ #disney_content,
#netmarble:checked ~ #netmarble_content,
#ofd_studio_admin:checked ~ #ofd_studio_admin_content,
#ofd_studio_user:checked ~ #ofd_studio_user_content{
  display: block;
}


/* 컨텐츠 가로로 배치 */
.contents_wrap{
  display: flex;
  justify-content:space-around;
}

.cont_img{
  width: 550px;
  height: 60vh;
  overflow: hidden;
}

.img1 img{

  box-sizing: border-box;
  width: 180%;
  transform: translate(-22%,-15%);
}
.img2 img{
  width: 170%;
  transform: translate(-24%,-15%);
}
.img3 img{
  transform: translateY(-5%);
}
.img4 img{
  width: 160%;
  transform: translate(-20%,-18%);
}
.content_title{
  font-weight: bold;
}

.content_text{
    width: 350px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 40px;
    z-index: 99;
  
  
}

/* 사이트 보러가기 버튼 서식 */
.view_btn_wrap{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.view_btn_wrap a{
  display: inline-block;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #d1e3ff;
  color: #477bca;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: solid 2px #477bca;
}
.view_btn_wrap a:hover{
  cursor: pointer;
  color: #fff;
  background-color: #477bca;
  transition: .3s;
}


